body {
  margin: 0;
  line-height: normal;
}
.desktop-3-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fbd4ab;
}
.desktop-3-item {
  position: absolute;
  top: 52px;
  left: 56px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.id-card-generator {
  position: relative;
  font-size: 40px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.frame-wrapper,
.id-card-generator-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  padding: var(--padding-md) 6px var(--padding-md) var(--padding-md);
}
.name {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.name-wrapper {
  width: 88px;
  height: 39px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.instance-child {
  border: 0;
  background-color: var(--color-gray);
  border-radius: var(--br-md);
  width: 255px;
  height: 47px;
  flex-shrink: 0;
}
.frame-group,
.instance-group,
.instance-parent {
  width: 255px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-0);
}
.instance-group,
.instance-parent {
  width: 583px;
  height: 109px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}
.instance-group {
  width: 581px;
}
.instance-child1 {
  border: 0;
  background-color: var(--color-gray);
  align-self: stretch;
  border-radius: var(--br-md);
  height: 47px;
  flex-shrink: 0;
}
.frame-parent2 {
  width: 543px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-0);
}
.submit {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.frame-parent,
.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-wrapper {
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  flex-direction: row;
  padding: 7px 11px;
  box-sizing: border-box;
}
.frame-parent {
  position: absolute;
  top: 147px;
  left: calc(50% - 296px);
  width: 592px;
  height: 647px;
  flex-direction: column;
  gap: 35px;
}
.frame-child {
  border: 1px solid var(--color-black);
  position: relative;
  border-radius: 30px;
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 403px;
  height: 549px;
  flex-shrink: 0;
}
.rectangle-parent,
.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-container {
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
}
.rectangle-parent {
  position: absolute;
  top: 873px;
  left: calc(50% - 201px);
  flex-direction: column;
  gap: 46px;
}
.desktop-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1800px;
  overflow: hidden;
}
